.Track {
    border-radius: 25px;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    margin-bottom:0;
}

p {
    padding-left: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.Track h3:hover{
    background-color: rgba(250,250, 250, .25);
    border-radius: 10px;
    padding-left: 2.5px;
}

.Trackinfo {
    font-size: .75rem;
}

button {
    border-radius: 50%;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 1.75rem;
    justify-self: end;
}

button:hover{
    background-color: rgba(250,250, 250, .5);
}